* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(150deg, #a2ceed 10%, #4797ef 100%);
}

.header {
    background-color: #ffffff;
    box-shadow: 0 6px 6px rgba(147, 147, 147, 0.5);
}

.header-container {
    padding: 1rem 1.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #050000;
    letter-spacing: 0.05em;
}

.logo:hover {
    text-decoration: underline;
    color: #1e0cf8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.hero-card {
    text-align: center;
    max-width: 512px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border: 1px solid #e5e7eb;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.hero-subtitle {
    font-size: 16px;
    color: #474747;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.15s ease-in-out;
}

.button:hover {
    background-color: #4338ca;
    transform: scale(1.05);
}


@media (max-width: 640px) {
    .hero-title {
        font-size: 14px;
    }
    .hero-subtitle {
        font-size: 14px;
    }
    .hero-card {
        padding: 30px 20px;
    }
}

/*Tasks*/

.main-content-tasks {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.add-task-form {
  flex: 0 0 250px; /* ширина форми */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.add-task-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-task-form input,
.add-task-form select,
.add-task-form button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.add-task-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.add-task-form button:hover {
  background-color: #45a049;
}

.task-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.task-description {
    word-wrap: break-word;
}

/*Помилки інпутів*/
input.error,
select.error {
  border: 2px solid #e53935;
  background-color: #fff5f5;
}

.form-error-message {
  color: #e53935;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 10px;
}


.task-list-item {
  background-color: #ffffff;
  border-left: 6px solid #7d06fd;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: calc((100% - 60px) / 4);
}

.card-edit-wrapper, .card-edit-wrapper label {
    display:flex;
    flex-direction: column;

}
.card-edit-wrapper {
    gap:10px;
}

.card-edit-wrapper input, .card-edit-wrapper select {
    height:35px;
    border-radius: 10px;
    border: 1px solid gray;
}
ul.task-list .task-list-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

ul.task-list p {
  margin: 10px 0;
  color: #373737;
  font-size: 20px;
}

.delete-task-button,
.edit-task-button {

  color: #fff;
  border: none;
    margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.delete-task-button {
      background-color: #fb0026;
}

.edit-task-button {
    background-color: #515151;
}

.edit-task-button:hover {
    background-color: #9a9a9a;
    transform: translateY(-1px);
}

.delete-task-button:hover {
  background-color: #d5001f;
  transform: translateY(-1px);
}

